# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
jspm_packages/

# Optional npm cache
.npm

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# IDE files
.vscode/
.idea/

#package file
package-lock.json
package.json